@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #000 url(images/bg.jpg) no-repeat;
    background-size: 100%;
    background-position-y: -13vh;
    background-position-x: 2vw;
}

.container{
    display: grid;
    grid-template: repeat(3, 8rem) / repeat(3, 8rem);
    border: none;
}

div{
    border: 1px solid black;

    text-align: center;
    line-height: 128px;
    font-size: 6rem;
    font-family: 'Schoolbell', cursive;
}

.left {
    border-left: none;
}

.right {
    border-right: none;
}

.top {
    border-top: none;
}

.bottom {
    border-bottom: none;
}