body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #000 url(images/bg.jpg) no-repeat;
    background-size: 100%;
    background-position-y: -13vh;
    background-position-x: 2vw;
}

.container{
    display: grid;
    grid-template: repeat(3, min(15vh, 200px)) / repeat(3, min(15vh, 200px));
}

div{
    border: 1px solid black;
}